@font-face {
    font-family: "Onest";
    src: url("@/assets/fonts/Onest.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Liberty-MT";
    src: url("@/assets/fonts/Liberty-MT.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
