@font-face {
    font-family: "Onest";
    src: url("@/assets/fonts/Onest.woff2") format("woff2");
}

@font-face {
    font-family: "Liberty-MT";
    src: url("@/assets/fonts/Liberty-MT.woff") format("woff");
}